@charset "UTF-8";

body { background: gray; }

#content { 
	position: relative;
	width: 600px;
	height: 600px;
	margin: 0 auto;
	background: black;
	color: white;
	border-radius: 50%;
}

#content h3 {
	position: absolute;
	text-align: center;
	font-size: 44px;
	width: 300px;
	top: 45%;
	left: 50%;
	margin: 0 0 0 -150px;
}
