<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
		
		<!-- 
		<context:annotation-config/> 
		어딘가에 bean을 등록해놓으면 @Autowired와 @Qualifier Annotation을 해석해서 가져다 쓰겠다는 의미이다.
		@Autowired와 @Qualifier 두 가지만 해결한다. 
		-->
		<context:annotation-config/> 
		<bean name="memberController" class="com.varxyz.jvx330.di.example5.ex1.MemberController"/>
		<bean name="memberService" class="com.varxyz.jvx330.di.example5.ex1.MemberServiceImp"/>
</beans>
