<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean name="foo" class="com.varxyz.jvx330.di.example1.Foo">
		<constructor-arg ref="bar"/>
	</bean>
	
	<bean name="foo2" class="com.varxyz.jvx330.di.example1.Foo">
		<property name="bar" ref="bar"/>
	</bean>
	
	<bean name="bar" class="com.varxyz.jvx330.di.example1.Bar"/>
</beans>
